@import "../../style/config";

@mod: ~"EpisodeLine";

.@{mod}-header {
  display: flex;
}

.@{mod}-name {
  flex: 1;

  font-size: 1em;
}

.@{mod}-vote {
  flex: 1;
}

.@{mod}-description {
  clear: left;
}
