@import "../../style/config";

@mod: ~"VotingLayout";

.@{mod} {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  .VoteBox, .loading {
    width: 49%;
    min-width: 400px;
    max-width: 640px;
    box-sizing: border-box;
    margin: 0 0 1em;
    align-self: flex-start;
  }
}
