@import "../../style/config";
@import "../../style/mixins";

@mod: ~"Shows";

.@{mod} {
  .flex-container();

  .Show {
    flex-grow: 1;

    margin: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 3px #000;
  }
}
