/**
 * # Main Navigation Styles
 */

@import "../../style/config";
@import "../../style/mixins";

@mod: ~"NavMain";

@import "./layout";

.@{mod} {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 2em;
  background: @nav-bg;
}

.@{mod}-nav {
  .container-width();
}

.@{mod}-link {
  display: block;
  box-sizing: border-box;
  padding: 1em 1em 0.7em;
  margin: 0 0.5em;
  color: @default-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.@{mod}-link {
  border-bottom: 2px solid @nav-link-border;
  &:hover {
    border-bottom: 2px solid @nav-link-border-hover;
  }
  &.is-active {
    border-bottom: 2px solid @nav-link-border-active;
  }
}

.@{mod}-nav {
  @search: ~"SearchBox";

  .@{search}-label { display: none; }

  .@{search} {
    margin-bottom: 0;
  }

  .@{search}-input {
    border: 0;
    background-color: @nav-bg;

    width: 6em;
    transition: width @default-transition;

    &:active, &:focus {
      width: 10em;
      background-color: @nav-bg-active;
    }
  }
}
